.grid {
  line-height: 0;
  display: grid;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  border-width: 0 0 1px 1px;
  width: fit-content;
  border-style: solid;
  border-color: black;
}
