.box {
  box-sizing: border-box;
  display: inline-block;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: black;
}

.box:hover {
  background: #0d6efd;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: #198754;
}
