.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.box:hover {
  background: #0d6efd;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: #198754;
}
